<div id='header'>
  <div id="thoughtful">
      <div id='thoughtful_logo'><%= image_tag 'logo.png' %></div>
      <div id="voucher_id"> Voucher ID: 123456</div>
  </div>
  <div id="merchant">
      <div id="merchant_name">Name of merchant</div>
      <div id="merchant_address">Address of merchant</div>
      <div id="merchant_phone">Phone Number of merchant</div>
  </div>
</div>
<div id='voucher_info'>
  <div id="client_name">Full Name of purchaser</div>
  <div id="product_name">Name of product</div>
  <div id="product_description">Description of Product</div>
  <div id="voucher_expiration">Expiration Date of service</div>
</div>
<div id="tos">Terms of service</div>
